/* .home {
    display: flex;
  }
  
  .home-container {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }
   */
  h1 {
    margin-bottom: 20px;
  }
  
  .profile p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  strong {
    color: white;
  }
  .profile_avatr
  {
    background-color: #3B2C67;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    margin: auto;
    width:50%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    gap: 3rem;

  }
  